body {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    margin: 0;
    padding-top: 35px;
    padding-bottom: 1vh;
    background: url('../images/2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    margin-top: 20px;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin-top: 10rem;
    margin-bottom: 10rem;
    margin-left: -3.5rem;
    margin-right: ;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

@media (max-width: 767px) {
    .form {
        margin-left: -2.1rem;
    }
}

.form input {
    font-family: "montserrat", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #43A047;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 13px;
}

.form .message a {
    color: #4CAF50;
    text-decoration: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}