body {
    margin: 0;
    padding: 0;
    font-family: montserrat;
}

h1,
h2,
h3,
h4 {
    font-family: montserrat;
}

.page-wrapper {
    margin: 0;
    padding-top: 35px;
    padding-bottom: 12vh;
    background: url('../images/2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.wrapper {
    margin: 0 auto;
}

.wrapper-top {
    max-width: 680px;
}

input {
    outline: none;
    margin: 0;
    padding-bottom: 1.3rem;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
}

input::placeholder {
    color: grey;
    font-family: montserrat;
    font-weight: 100;
    font-size: 15px;
}


.input-group {
    position: relative;
    margin-bottom: 27px;
    border-bottom: 2px solid #ccc;
}
  .btn {
    padding-left: 20px;
    padding-right: 20px;
    background: #4CAF50;
    border: #4CAF50;
}
.btn:hover{
    background: green;
}
.btn-primary:active{
    background: green;
}
.btn-primary:focus{
    background: green;
}
.title {
    margin-bottom: 37px;
    font-family: montserrat;
    text-align: center;
    font-weight: 400;
}

.card {
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
}

.card-one {
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-one .card-body {
    padding: 0 90px;
    padding-top: 55px;
    padding-bottom: 65px;
}

@media (max-width: 767px) {
    .card-one .card-body {
        padding: 0 40px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

