html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}


body {
    font-family: 'montserrat', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    font-weight: 400;
    word-wrap: break-word;
    overflow-x: hidden;
    color: white;
    background: url('../images/2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.main_area{
    margin-top: 8rem;
}
.display-3{
    text-align: center;
    font-size: 3.5rem !important;
}
#fullname{
    font-weight: 600;
}
.display-mini{
    text-align: center;
    margin-top: 2rem;
}
.dropdown{
    text-align: center;
}
#select_area {
    width: 20rem;
    height: 60px;
    margin-bottom: 2rem;
    border-radius: 40px;
    background: white;
    border-color: transparent;
    text-align-last: center;
    font-size: 15px;
    font-weight: bolder;
    font-family: montserrat;
    text-align: center;
    -webkit-appearance: none;
    outline: none;
}
.dropdown-item {
    text-align: center;
    background-color:white;
    font-size: 20px;
    color: #95989a;
    font-weight: bolder;
}

#select_area:focus {
    outline: none !important;
}
.display_item{
   /*  border: 2px solid white; */
    padding:100px;
    width: 35px;
    margin-left: 39%;
    margin-top: -4rem;
    /* background: grey; */
}
    @media (max-width: 912px) {
        .display_item{
            margin-left: 19%;
        }
    }

ul{
    display: inline-block;
    margin-left: -7rem;
    margin-top: -33px;
}
.selected_item li{
    font-size: 20px;
}

.add_btn{
    margin-top: -5rem;
   }
     .btn {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #4CAF50;
    border: #4CAF50;
}
.btn:hover{
    background: green;
}
.btn:active{
    background: green;
}
.btn:focus{
    background: green;
}








